{% include header.html %}
  <body>
  	<header class="port_header" id="home">
  		<div class="port_background">
  			<div class="port-detail">
  				<div class="container">
  					<div class="row">
  						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  							<h1 class="port_intro">Hello,This is me!</h1>
  							<h1 class="port_intro_name">RAKSHITHA</h1>
  							<h1 id="typed-strings">
  								<span class="port_intro_span">Professional Web Designer</span>
  								<span class="port_intro_span">Professional Web Developer</span>
  								<span class="port_intro_span">Photography is my passion</span>
  							</h1>
                <span id="typed" class="port_intro_span"></span>
  							<div class="social-link">
                  <a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a>
                  <a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a>
                  <a href="https://www.instagram.com/" target="_blank"><i class="fa fa-instagram"></i></a>
                  <a href="https://www.skype.com/en/" target="_blank"><i class="fa fa-skype"></i></a>
                </div>
  						</div>
  					</div>
  				</div>
  			</div>
  		</div>
  	</header>

  	
  	<nav class="nav-desktop navbar navbar-default">
        <div class="collapse navbar-collapse port-fixed-header">
        	<div class="container port_rmv">
	            <span class="port_nav_span">RAKSHITHA</span>    
	            <ul class="nav navbar-nav navbar-right" id="port_desk">
	                <li class="">
	                    <a href="#home">HOME</a>
	                </li>
	                <li class="">
	                  	<a href="#about">ABOUT ME</a>
	                </li>
	                <li class="">
	                    <a href="#resume">RESUME</a>
	                </li>
	                <li class="">
	                    <a href="#service">SERVICE</a>
	                </li>
	                <li>
	                	<a href="#portfolio">PORTFOLIO</a>
	                </li>
	                <li>
	                	<a href="#testimonial">TESTIMONIAL</a>
	                </li>
	                <li>
	                	<a href="#contact">CONTACT</a>
	                </li>
	            </ul>
              <div class="dropdown" id="port_mob">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                
                <ul class="dropdown-menu nav navbar-nav" aria-labelledby="dropdownMenu1">
                  <li><a href="#home">HOME</a></li>
                  <li><a href="#about">ABOUT ME</a></li>
                  <li><a href="#resume">RESUME</a></li>
                  <li><a href="#service">SERVICE</a></li>
                  <li><a href="#portfolio">PORTFOLIO</a></li>
                  <li><a href="#testimonial">TESTIMONIAL</a></li>
                  <li><a href="#contact">CONTACT</a></li>
                </ul>
              </div>
            </div>
        </div>
    </nav>

    
	  <section class="port_padding port_sec_first" id="about">
      <div class="container">
	    	<h1 class="section_title">ABOUT ME</h1>
	    	<div class="row">
	    		<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
	    			<div class="port_pic"></div>
	    		</div>
	    		<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
	    			<h1 class="about-me-text">I am a creative person with 100% perfection</h1>
	    			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop.</p>
	    			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
	    			<button class="port_about_button">HIRE ME</button><button class="port_about_button">DOWNLOAD CV</button>
	    		</div>
	    	</div>
      </div>
	  </section>

    <section class="port_padding port_sec_two" id="resume">
      <div class="container">
        <h1 class="section_title">EDUCATION</h1>
        <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="port_education">
                  <i class="fa fa-book"></i>
                  <h2>Bangora primary school</h2>
                  <h3 class="text-muted">2012-2016</h3>
                  <p>Consul latine iudicabit eu vel. Cu has animal eruditi voluptatibus. Eu volumus explicari sed. </p>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="port_education">
                  <i class="fa fa-book"></i>
                  <h2>Bangora U.l high School</h2>
                  <h3 class="text-muted">2012-2016</h3>
                  <p>Consul latine iudicabit eu vel. Cu has animal eruditi voluptatibus. Eu volumus explicari sed. </p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="port_education">
                  <i class="fa fa-book"></i>
                  <h2>Fusd degree College</h2>
                  <h3 class="text-muted">2012-2016</h3>
                  <p>Consul latine iudicabit eu vel. Cu has animal eruditi voluptatibus. Eu volumus explicari sed. </p>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="port_education">
                  <i class="fa fa-book"></i>
                  <h2>Stamford university bangladesh</h2>
                  <h3 class="text-muted">2012-2016</h3>
                  <p>Consul latine iudicabit eu vel. Cu has animal eruditi voluptatibus. Eu volumus explicari sed. </p>
                </div>
              </div>
            </div>
      </div>
    </section>

    <section class="port_padding port_sec_first">
      <div class="container">
        <h1 class="section_title">EXPERIENCE</h1>
        <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="port_education">
                  <i class="fa fa-briefcase"></i>
                  <h2>Front-End Development</h2>
                  <h3 class="text-muted">2012-2016</h3>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the</p>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="port_education">
                  <i class="fa fa-briefcase"></i>
                  <h2>UI/UX Design</h2>
                  <h3 class="text-muted">2012-2016</h3>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the</p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="port_education">
                  <i class="fa fa-briefcase"></i>
                  <h2>Website production</h2>
                  <h3 class="text-muted">2012-2016</h3>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the</p>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="port_education">
                  <i class="fa fa-briefcase"></i>
                  <h2>Website maintain</h2>
                  <h3 class="text-muted">2012-2016</h3>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the</p>
                </div>
              </div>
            </div>
      </div>
    </section>

    <section class="port_padding port_sec_two" id="service">
      <div class="container">
        <h1 class="section_title">SERVICE</h1>
        <div class="row">
              <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="port_education">
                  <i class="fa fa-camera"></i>
                  <h2>photography</h2>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
              </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="port_education">
                  <i class="fa fa-laptop"></i>
                  <h2>Web design</h2>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="port_education">
                  <i class="fa fa-code"></i>
                  <h2>web development</h2>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="port_education">
                  <i class="fa fa-wordpress"></i>
                  <h2>wordpress</h2>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="port_education">
                  <i class="fa fa-codepen"></i>
                  <h2>coding</h2>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="port_education">
                  <i class="fa fa-users"></i>
                  <h2>support</h2>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                </div>
              </div>
            </div>
      </div>
    </section>

    <section class="port_padding port_sec_first" id="portfolio">
      <div class="container">
        <h1 class="section_title">PORTFOLIO</h1>
        <ul class="nav nav-tabs">
          <li class="active"><a data-toggle="tab" href="#all">ALL</a></li>
          <li><a data-toggle="tab" href="#graphics">GRAPHICS</a></li>
          <li><a data-toggle="tab" href="#photograpy">PHOTOGRAPHY</a></li>
          <li><a data-toggle="tab" href="#typograpy">TYPOGRAPY</a></li>
          <li><a data-toggle="tab" href="#webdesign">WEB DESIGN</a></li>
        </ul>

        <div class="tab-content">
          <div id="all" class="tab-pane fade in active">
            <div class="row">
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="image">
                  <img src="assets/img/Dataops_400.jpg" alt="">
                    <a href="assets/img/Dataops_400.jpg" data-lightbox="roadtrip">
                      <div class="portfolio-caption">
                        <h4>View</h4>
                      </div>
                    </a>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="image">
                  <img src="assets/img/Dataops_400.jpg" alt="">
                    <a href="assets/img/Dataops_400.jpg" data-lightbox="roadtrip">
                      <div class="portfolio-caption">
                        <h4>View</h4>
                      </div>
                    </a>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="image">
                  <img src="assets/img/Dataops_400.jpg" alt="">
                    <a href="assets/img/Dataops_400.jpg" data-lightbox="roadtrip">
                      <div class="portfolio-caption">
                        <h4>View</h4>
                      </div>
                    </a>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="image">
                  <img src="assets/img/Dataops_400.jpg" alt="">
                    <a href="assets/img/Dataops_400.jpg" data-lightbox="roadtrip">
                      <div class="portfolio-caption">
                        <h4>View</h4>
                      </div>
                    </a>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="image">
                  <img src="assets/img/Dataops_400.jpg" alt="">
                    <a href="assets/img/Dataops_400.jpg" data-lightbox="roadtrip">
                      <div class="portfolio-caption">
                        <h4>View</h4>
                      </div>
                    </a>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="image">
                  <img src="assets/img/Dataops_400.jpg" alt="">
                    <a href="assets/img/Dataops_400.jpg" data-lightbox="roadtrip">
                      <div class="portfolio-caption">
                        <h4>View</h4>
                      </div>
                    </a>
                </div>
              </div>
            </div>
          </div>
          <div id="graphics" class="tab-pane fade">
            <div class="row">
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="image">
                  <img src="assets/img/Dataops_400.jpg" alt="">
                    <a href="assets/img/Dataops_400.jpg" data-lightbox="roadtrip">
                      <div class="portfolio-caption">
                        <h4>View</h4>
                      </div>
                    </a>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="image">
                  <img src="assets/img/Dataops_400.jpg" alt="">
                    <a href="assets/img/Dataops_400.jpg" data-lightbox="roadtrip">
                      <div class="portfolio-caption">
                        <h4>View</h4>
                      </div>
                    </a>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="image">
                  <img src="assets/img/Dataops_400.jpg" alt="">
                    <a href="assets/img/Dataops_400.jpg" data-lightbox="roadtrip">
                      <div class="portfolio-caption">
                        <h4>View</h4>
                      </div>
                    </a>
                </div>
              </div>
            </div>
          </div>
          <div id="photograpy" class="tab-pane fade">
            <div class="row">
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="image">
                  <img src="assets/img/Dataops_400.jpg" alt="">
                    <a href="assets/img/Dataops_400.jpg" data-lightbox="roadtrip">
                      <div class="portfolio-caption">
                        <h4>View</h4>
                      </div>
                    </a>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="image">
                  <img src="assets/img/Dataops_400.jpg" alt="">
                    <a href="assets/img/Dataops_400.jpg" data-lightbox="roadtrip">
                      <div class="portfolio-caption">
                        <h4>View</h4>
                      </div>
                    </a>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="image">
                  <img src="assets/img/Dataops_400.jpg" alt="">
                    <a href="assets/img/Dataops_400.jpg" data-lightbox="roadtrip">
                      <div class="portfolio-caption">
                        <h4>View</h4>
                      </div>
                    </a>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="image">
                  <img src="assets/img/Dataops_400.jpg" alt="">
                    <a href="assets/img/Dataops_400.jpg" data-lightbox="roadtrip">
                      <div class="portfolio-caption">
                        <h4>View</h4>
                      </div>
                    </a>
                </div>
              </div>
            </div>
          </div>
          <div id="typograpy" class="tab-pane fade">
            <div class="row">
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="image">
                  <img src="assets/img/Dataops_400.jpg" alt="">
                    <a href="assets/img/Dataops_400.jpg" data-lightbox="roadtrip">
                      <div class="portfolio-caption">
                        <h4>View</h4>
                      </div>
                    </a>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="image">
                  <img src="assets/img/Dataops_400.jpg" alt="">
                    <a href="assets/img/Dataops_400.jpg" data-lightbox="roadtrip">
                      <div class="portfolio-caption">
                        <h4>View</h4>
                      </div>
                    </a>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="image">
                  <img src="assets/img/Dataops_400.jpg" alt="">
                    <a href="assets/img/Dataops_400.jpg" data-lightbox="roadtrip">
                      <div class="portfolio-caption">
                        <h4>View</h4>
                      </div>
                    </a>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="image">
                  <img src="assets/img/Dataops_400.jpg" alt="">
                    <a href="assets/img/Dataops_400.jpg" data-lightbox="roadtrip">
                      <div class="portfolio-caption">
                        <h4>View</h4>
                      </div>
                    </a>
                </div>
              </div>
            </div>
          </div>
          <div id="webdesign" class="tab-pane fade">
            <div class="row">
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="image">
                  <img src="assets/img/Dataops_400.jpg" alt="">
                    <a href="assets/img/Dataops_400.jpg" data-lightbox="roadtrip">
                      <div class="portfolio-caption">
                        <h4>View</h4>
                      </div>
                    </a>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="image">
                  <img src="assets/img/Dataops_400.jpg" alt="">
                    <a href="assets/img/Dataops_400.jpg" data-lightbox="roadtrip">
                      <div class="portfolio-caption">
                        <h4>View</h4>
                      </div>
                    </a>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="image">
                  <img src="assets/img/Dataops_400.jpg" alt="">
                    <a href="assets/img/Dataops_400.jpg" data-lightbox="roadtrip">
                      <div class="portfolio-caption">
                        <h4>View</h4>
                      </div>
                    </a>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="image">
                  <img src="assets/img/Dataops_400.jpg" alt="">
                    <a href="assets/img/Dataops_400.jpg" data-lightbox="roadtrip">
                      <div class="portfolio-caption">
                        <h4>View</h4>
                      </div>
                    </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="port_padding port_sec_two" id="testimonial">
      <div class="container">
        <h1 class="section_title">TESTIMONIAL</h1>
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>
          <div class="carousel-inner text-center" role="listbox">
            <div class="item active">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              </p>
              <h2>Larry Page</h2>
              <h3 class="text-muted">CEO of Google</h3>
            </div>
            <div class="item">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              </p>
              <h2>Larry Page</h2>
              <h3 class="text-muted">CEO of Google</h3>
            </div>
            <div class="item">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              </p>
              <h2>Larry Page</h2>
              <h3 class="text-muted">CEO of Google</h3>
            </div>
          </div>
        </div>
      </div>
    </section>

	  <section class="port_padding port_sec_first" id="contact">
      <div class="container">
  			<h1 class="section_title">SAY HELLO TO ME!</h1>
  			<form>
  				<div class="row">
  					<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
  						<input name="name" class="port_in_width" id="first-name" placeholder="Name" required="required" type="text">
  					</div>
  					<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
  						<input name="email" class="port_in_width" id="email" placeholder="Email" required="required" type="email">
  					</div>
  				</div>
  				<div class="row">
  					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  						<textarea class="port_in_width" placeholder="Your Message"></textarea>
  					</div>
  				</div>
  				<div class="port_button_division"><button class="port_form_button">Send Message</button></div>
  			</form>
      </div>
  	</section>


  	<footer class="port_footer">
  		<div>© Rakshitha 2016. All right Reserved.</div>
  	</footer>
    <div class="apst-wrapper nav-scroll-up" style="right: 20px; bottom: 20px; position: fixed; display: block;">
      <div class="apst-button"></div>
    </div>
    {% include footer.html %}
  </body>